<div class="reveal-modal-bg" data-ng-click="close()"></div>
<div class="reveal-modal {{ class }}"
     style="top: 0;
            display: block;
            position: fixed;
            visibility: visible;">
    <div style="position: relative;">
        <div data-ng-transclude  class="body-modal"></div>
    </div>
</div>
</div>
