<!doctype html>
<html data-ng-app="gitlabKBApp" data-ng-strict-di>

<head>

    <link rel="apple-touch-icon" sizes="57x57" href="/{{ .Version }}/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/{{ .Version }}/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/{{ .Version }}/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ .Version }}/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ .Version }}/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ .Version }}/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ .Version }}/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ .Version }}/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ .Version }}/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/{{ .Version }}/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/{{ .Version }}/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/{{ .Version }}/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/{{ .Version }}/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/{{ .Version }}/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/{{ .Version }}/images/favicons/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/{{ .Version }}/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <base href="/">
    <title-placeholder data-ui-view="title">
        <title>GitLab KB - Boards</title>
    </title-placeholder>

    <script type="text/javascript">
        var CLIENT_VERSION = '{{ .Version }}';
        var GITLAB_HOST = '{{ .GitlabHost }}';
        var ENABLE_SIGNUP = {{.EnableSignup}};
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/app.css">
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/ng-sortable.min.css">
    <link rel="stylesheet" href="/{{ .Version }}/assets/css/loading-bar.css">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <div data-ui-view></div>

    <script src="/{{ .Version }}/assets/js/angular.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-ui-router.js"></script>
    <script src="/{{ .Version }}/assets/js/ng-sortable.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-storage.js"></script>
    <script src="/{{ .Version }}/assets/js/lodash.js"></script>
    <script src="/{{ .Version }}/assets/js/angular-lodash.js"></script>
    <script src="/{{ .Version }}/assets/js/markdown-it-emoji.min.js"></script>
    <script src="/{{ .Version }}/assets/js/markdown-it.js"></script>
    <script src="/{{ .Version }}/assets/js/reconnecting-websocket.js"></script>
    <script src="/{{ .Version }}/assets/js/angularjs-datepicker.min.js"></script>
    <script src="/{{ .Version }}/assets/js/twemoji.min.js"></script>

    <script src="/{{ .Version }}/assets/js/transition.js"></script>
    <script src="/{{ .Version }}/assets/js/position.js"></script>
    <script src="/{{ .Version }}/assets/js/bindHtml.js"></script>
    <script src="/{{ .Version }}/assets/js/typeahead.js"></script>
    <script src="/{{ .Version }}/assets/js/mediaQueries.js"></script>
    <script src="/{{ .Version }}/assets/js/dropdownToggle.js"></script>
    <script src="/{{ .Version }}/assets/js/topbar.js"></script>
    <script src="/{{ .Version }}/assets/js/tabs.js"></script>
    <script src="/{{ .Version }}/assets/js/app.min.js"></script>
    <script src="/{{ .Version }}/assets/js/loading-bar.js"></script>

</body>

</html>
