body{
    &.modal-open{
        overflow: hidden;
    }

    .reveal-modal-bg{
        display: block;
        background-color: $reveal-overlay-bg;
    }

    .reveal-modal{
        background: transparent;
        overflow-y: scroll;
        padding: 0;
        pointer-events: none;

        .body-modal {
            pointer-events: all;
        }

        @media only screen and (max-width: $row-width) {
            .body-modal{
              background-color: $white;
              padding: 0 0 10px 0;
              max-width: $row-width;
              margin: 0;
              min-height: 100%;
            }
        }

        @media only screen and (min-width: $row-width) {
            .body-modal{
              background-color: $white;
              padding: 30px;
              max-width: $row-width;
              margin: 100px auto 50px auto;
            }

        }
    }
}
